body {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    background-image: url("../img/background.jpg");
    color: #f0f0f0;
}

.navbar-custom {
    background: transparent;
}

.nav-item,
.nav-link,
.navbar-brand {
    color: #f0f0f0 !important;
    font-size: 1.4rem;
}

h1 {
    margin-bottom: 0rem !important;
    text-align: center;
}
