body {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    background-image: url("../img/background.jpg");
    background-color: rgb(190, 130, 55);
    color: #f0f0f0;
}

.navbar-custom {
    background: transparent;
    margin-bottom: 0px;
}

.nav-item,
.nav-link {
    color: #f0f0f0 !important;
    font-size: 1.4rem;
    margin-right: 1.5rem;
}

h1 {
    margin-bottom: 0rem !important;
    text-align: center;
}

hr {
    margin-top: -10px;
    border-color: #f0f0f0;
}

.table {
    max-width: 50% !important;
    margin: auto;
    text-align: center;
}
